doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(
        content="width=device-width, initial-scale=1.0" 
        name="viewport"
        )
        title #{pageTitle}
        link(
            rel="icon"
            href =info.favicon 
            type = "image/png"
        )

        link(
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        rel="stylesheet"
        )
        link(
        rel="stylesheet" 
        href="https://unpkg.com/aos@2.3.1/dist/aos.css"
        )
        link(
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" 
        rel="stylesheet"
        )
        link(
        href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.css" 
        rel="stylesheet"
        )
        link(
        href="/assets/css/style.css" 
        rel="stylesheet"
        )
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    body
        - if (messages.success)
            script.
                Swal.fire({
                icon: 'success',
                title: 'Thành công!',
                text: '#{messages.success}',
                timer: 3000,
                showConfirmButton: false
                });
        .top-header
            .container
                .inner-wrap
                    .inner-item
                        i.fa-solid.fa-phone
                        | #{info.phone}
                    .inner-item
                        i.fa-solid.fa-envelope
                        | #{info.email}
                    .inner-item
                        i.fa-solid.fa-building
                        | #{info.address}
        .logo-mobile 
            a(href="/")
                img(alt=info.websiteName src=info.logo)
        // End Top Header
        // Header
        header.header
            .container
                .inner-wrap           
                    // Logo
                    .inner-logo
                        a(href="/")
                            img(alt=info.websiteName src=info.logo)
                    // Menu
                    nav.inner-menu
                        .inner-icon-mobile-menu(click-open-menu)
                            img(src="/assets/images/ico_menu_red.svg", alt="", style="height:40px; margin-right:5px;")
                        .inner-icon-menu(hover-open-menu)
                            img(src="/assets/images/ico_menu_red.svg", alt="", style="height:40px; margin-right:5px;")
                            i.fa-solid.fa-angle-down
                        .inner-form(search)
                            input.inner-input(
                                placeholder="Bạn muốn tìm kiếm sách gì?" 
                                type="text"
                                find-book)
                            i.fa-solid.fa-magnifying-glass
                        .inner-bar(menu-default)
                            .inner-back
                                i(back-home).fa-solid.fa-arrow-left
                                span Danh mục sản phẩm
                            .inner-parent
                                span Danh mục sản phẩm
                                each item in categoryList
                                    a(href=`/book/${item.slug}` hover-cate data-menu=item.id) #{item.name}
                            .inner-child-wrapper
                                each item in categoryList
                                    each i in item.children
                                        .inner-child(data-same-menu=item.id)
                                            .child-title 
                                                a(href=`/book/${i.slug}`) #{i.name}
                                            .child-detail
                                                each it in i.children
                                                    a(href=`/book/${it.slug}`) #{it.name}
                    .inner-user-cart
                        //cart
                        .inner-cart
                            a(href="/cart")
                                i.fa-solid.fa-cart-shopping
                            span() #{lengthCart}
                            .text-cart Giỏ hàng
                        //user
                        .inner-user                 
                            i.fa-regular.fa-user
                            .text-user Tài khoản
                            .inner-user-unsuccess
                                .inner-wrap 
                                    .inner-item 
                                        a(href="/account/login") Đăng nhập
                                    .inner-item-register 
                                        a(href="/account/register") Đăng ký
                            .inner-user-success
                                 .inner-wrap 
                                    .inner-item 
                                        a(href="/info-user")
                                            img(src="/assets/images/item-user.png")
                                            | Thông tin cá nhân
                                    .inner-item
                                        a(href="/order-history") 
                                            img(src="/assets/images/item-order.png")
                                            | Lịch sử đặt hàng
                                    .inner-item-logout 
                                        a(href="/account/logout") 
                                            img(src="/assets/images/icon-logout.png")
                                            | Đăng xuất
            
                // End Header
        block main
        // Footer
        footer.footer
            .container
                .inner-top
                    h2.inner-title Đăng ký ngay để nhận những thông báo, ưu đãi sắp tới
                    form#email-form.inner-form(action="#")
                        input#email-input(
                        name="email" 
                        placeholder="Nhập email của bạn..." 
                        type="email"
                        )
                        button(type="submit") Đăng Ký Ngay
                .inner-middle
                    nav.inner-links
                        ul
                            li
                                a(href="/") Trang Chủ
                            li
                                a(href=`/book/sach-trong-nuoc`) Sách Trong Nước
                            li
                                a(href=`/book/sach-nuoc-ngoai`) Sách Nước Ngoài
                            li
                                a(href="/new/ky-nang-doc-sach-hieu-qua") Tin Tức
                            li
                                a(href="/contact-client") Liên Hệ
                    nav.inner-socials
                        ul
                            li
                                a(
                                target="_blank" 
                                href="https://www.facebook.com/share/1J9WTBysic/?mibextid=wwXIfr"
                                )
                                i.fa-brands.fa-facebook
                            li
                                a(
                                target="_blank" 
                                href="/"
                                )
                                i.fa-brands.fa-x-twitter
                            li
                                a(
                                target="_blank" 
                                href="/"
                                )
                                i.fa-brands.fa-instagram
                            li
                                a(
                                target="_blank" 
                                href="https://www.youtube.com"
                                )
                                i.fa-brands.fa-youtube
                .inner-bottom
                    .inner-copyright LucasBook
                    nav.inner-links
                        ul
                            li
                                a(href="/policy-service/service") Điều khoản dịch vụ
                            li
                                a(href="/policy-service/policy") Chính sách bảo mật
        // End Footer
        .box-contact
            ul
                li
                    a(
                        target="_blank" 
                        href="https://www.facebook.com/share/1J9WTBysic/?mibextid=wwXIfr"
                        )
                        i.fa-brands.fa-facebook-f
                li
                    a(
                        target="_blank" 
                        href="/"
                        )
                        i.fa-brands.fa-x-twitter
                li
                    a(
                        target="_blank" 
                        href="/"
                        )
                        i.fa-brands.fa-instagram
                li
                    a(
                        target="_blank" 
                        href="https://www.youtube.com"
                        )
                        i.fa-brands.fa-youtube
            // End Box Contact
        .box-bot-chat
            img(src="/assets/images/chat-bot.jpg" open-chat)
        .box-chat 
            .inner-top 
                img(src=info.logo, alt="")
                i.fa-solid.fa-circle-minus(close-chat)
            .inner-reply
                .inner-line 
                    img(src=info.favicon, alt="" style="width:30px; height:30px;")
                    .inner-chat-bot Mình là chat bot, mình sẽ giúp bạn tìm sách!
            .inner-chat
                input(type="text" input-chat placeholder="Nhập vào đây...")
                button(send-chat)
                    i.fa-solid.fa-paper-plane
        script(src="https://code.jquery.com/jquery-3.7.1.min.js")
        link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js")
        script(
        src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js"
        )
        script(src="/assets/js/script.js")
        script.
            $(document).ready(function() {
                $('#city').select2({
                    placeholder: "Chọn Tỉnh/Thành phố",
                    width: '100%'
                });
                $('#district').select2({
                    placeholder: "Chọn Quận/Huyện",
                    width: '100%'
                });
                $('#ward').select2({
                    placeholder: "Chọn Phường/Xã",
                    width: '100%'
                });
            });