extends ../layout/account.pug

block main
  .form-account
    h2.inner-title Nhập mã OTP
    p.inner-desc Mã otp đã gửi về email của bạn
    
    form.inner-form#otp-password-form
      .inner-group
        label(
          class="inner-label"
          for="otp"
        ) Mã OTP
        input(
          type="text"
          name="otp"
          id="otp"
          placeholder="Nhập mã otp của bạn"
          class="inner-control"
        )
      button(class="inner-button") Xác nhận mã OTP
    
    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href=`/account/login`) Đăng nhập