extends ../layout/account.pug
block main
  .form-account
    h2.inner-title Nhập mã OTP để đăng ký
    p.inner-desc Mã otp đã gửi về email của bạn
    form.inner-form#otp-register
      .inner-group
        label(
          class="inner-label"
          for="otp"
        ) Mã OTP
        input(
          type="text"
          name="otp"
          id="otp"
          placeholder="Nhập mã otp của bạn"
          class="inner-control"
        )
      button(class="inner-button") Xác nhận mã OTP
    .inner-more
      span Otp hết hiệu lực?
      a(href=`/account/register`) Đăng ký 