extends ../layouts/default.pug
block main
  h1.box-title Tổng quan
  - if(permissions.includes("dashboard-view"))
    //- Section 1
    .section-1
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-1.svg")
        .inner-content
          .inner-title Khách hàng
          .inner-number #{totalClient?totalClient:0}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{dashboard.order?dashboard.order:0}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{dashboard.priceTotal?dashboard.priceTotal.toLocaleString("vi-VN"): 0}đ
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/bookLogo.png")
        .inner-content
          .inner-title Tổng số sách
          .inner-number #{totalBook?totalBook:0}
 
    //- End Section 1  
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu
        .inner-filter
          input(
            type="month"
            name=""
            chart
          )
      .inner-chart(style="overflow-x:auto;")
        canvas(id="revenue-chart" style="height:250px")
    //- End Section 2
    .section-2
      .inner-head
        h2.inner-title Thống kê tồn kho
      .inner-inventory 
        each item in categoryList 
          span(inventory-id=item.id) #{item.name}
      .inner-inventory-chart(style="overflow-x:auto")
        canvas#inventoryChart(style="height:270px")
    .section-top-list
      .section-2
        .inner-head
          h2.inner-title Tình trạng tồn kho
        .inner-data(style="display:none")
          span(id="data-almostOver", data-value=almostOver)
          span(id="data-soldOut", data-value=soldOut)
          span(id="data-many", data-value=many)
        .inner-inventory-status()
          canvas#inventoryStatusChart(width=400, height=400)
      .section-2
        .inner-head
          h2.inner-title Top sách bán chạy 
        .table-1
          table
            thead
              tr
                th(style="width:2px") STT
                th(style="width:170px") Tên sách
                th(style="width:100px") Đã bán
                th(style="width:170px") Doanh thu 
            tbody
              each item,index in topBook
                tr
                  td
                    .inner-code #{index+1}
                  td
                    .inner-text #{item.name}
                  td
                    .inner-text #{item.sold}
                  td
                    .inner-text #{item.profit?item.profit.toLocaleString("vi-VN"):0}đ
    //- Section 3
    .section-3
      h2.inner-title Đơn hàng mới
      .table-1
        table
          thead
            tr
              th Mã
              th(style="width:170px") Thông tin khách
              th Danh sách sản phẩm
              th(style="width:210px") Thanh toán 
              th(style="width:140px") Trạng thái
              th.inner-text-right Ngày đặt
          tbody
            each item in orderNew
              tr
                td
                  .inner-code #{item.orderCode}
                td
                  .inner-text Họ tên: #{item.fullName}
                  .inner-text Số điện thoại: #{item.phone}
                  .inner-text Lời nhắn: #{item.note}
                td
                  each it in item.cart
                    .inner-item
                      .inner-image
                        img(src=it.avatar, alt=it.name)
                      .inner-content
                        .inner-name #{it.name}
                        .inner-quantity Số lượng: #{it.quantity} x #{it.priceLast.toLocaleString("vi-VN")}đ
                td
                  .inner-text Tổng tiền: #{item.priceTotal.toLocaleString("vi-VN")}đ
                  .inner-text PTTT: #{item.nameMethod}
                  .inner-text TTTT: #{item.nameStatusPay}
                td
                  - if(item.status == "initial")
                    .badge.badge-red Khởi tạo
                  - if(item.status == "ship")
                    .badge.badge-orange Đang giao
                  - if(item.status == "done")
                    .badge.badge-green Đã giao 
                td.inner-text-right
                  .inner-text #{item.formatTime}
                  .inner-text #{item.formatDay}
    //- End Section 3
