mixin product-item(item)
  .product-item
    - if(item.decorate=="new")
      .inner-deco 
        img(src="/assets/images/new.png" style="width:100px")
    - if(item.decorate=="hot")
      .inner-deco 
        img(src="/assets/images/bestSale.png" style="width:100px")
    a(href=`/book/detail/${item.slug}`)
      .inner-image(class=item.numberBook == 0 ? "sold-out" : "")
        img(
          alt=item.name 
          src=item.avatar
          )
        - if(item.numberBook==0)
          .inner-soldOut Hết hàng
    .inner-content
      .inner-desc-item
        | Mã sách:
        b #{item.bookCode}
      h3.inner-title
        a(href=`/book/detail/${item.slug}`) #{item.name}
      .inner-prices
        - if(item.idEvent)
          .inner-price-new
            div Giá: #{item.priceLast?item.priceLast.toLocaleString('vi-VN'):0}đ 
            span -#{item.discount?item.discount:0}%
          .inner-intial
            span #{item.priceBook?item.priceBook.toLocaleString('vi-VN'):0}đ
        - else
          .inner-price-new
            div Giá: #{item.priceBook?item.priceBook.toLocaleString('vi-VN'):0}đ
      .inner-stock
        .inner-label Số lượng còn:
        .inner-number #{item.numberBook}
      .inner-sale
        span Đã bán: #{item.numberSale?item.numberSale:0}